<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControllerPersona</servlet-name>
        <servlet-class>com.fpmislata.servlets.ControllerPersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerPartitura</servlet-name>
        <servlet-class>com.fpmislata.servlets.ControllerPartitura</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerActo</servlet-name>
        <servlet-class>com.fpmislata.servlets.ControllerActo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControllerPersona</servlet-name>
        <url-pattern>/AltaPersona</url-pattern>
        <url-pattern>/EliminarPersona</url-pattern>
        <url-pattern>/ListarPersonas</url-pattern>
        <url-pattern>/ModificarPersona</url-pattern>
        <url-pattern>/ControllerPersona</url-pattern>
        <url-pattern>/ListarActosPorPersona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerPartitura</servlet-name>
        <url-pattern>/AltaPartitura</url-pattern>
        <url-pattern>/ListarPartiturasPorPersona</url-pattern>
        <url-pattern>/ListarPartituras</url-pattern>
        <url-pattern>/EliminarPartitura</url-pattern>
        <url-pattern>/ModificarPartitura</url-pattern>
        <url-pattern>/ControllerPartitura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerActo</servlet-name>
        <url-pattern>/ControllerActo</url-pattern>
        <url-pattern>/AltaActo</url-pattern>
        <url-pattern>/ListarActos</url-pattern>
        <url-pattern>/EliminarActo</url-pattern>
        <url-pattern>/ListarPersonasPorActo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
